.info {
   position: absolute;
   left: 10px;
   top: 10px;
   color: red;
}

.cat {
   position: absolute;
   z-index:100;
   left: 10px;
   text-align: center;
}

.cat2 {
   position: absolute;
   z-index:100;
   right: 10px;
   text-align: center;
}

.essay {
   font-size: 30px;
   position: absolute;
   left: 10px;
   right: 100px;
   top: 10px;
   color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: gray;
    margin: 0;
    font-family: VT323, sans-serif;
}



.game-container {
    position: relative;
    width: 800px;
    height: 400px;
    border: 2px solid #333;
    overflow: hidden;
}

.dino {
    position: absolute;
    bottom: -10;
    left: 80%;
    width: 50px;
    height: 50px;
    background-image: url('mahiwagangjeloseagame.png');
}

.high-score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #333;
}


.obstacle {
    position: absolute;
    bottom: 0;
    right: -20px;
    width: 20px;
    height: 50px;
    background-color: red;
}

.score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #333;
}

.death-screen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.death-message {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

#restart-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: VT323, sans-serif;
}

.message-container {
    position: fixed;
    top: 0;
    text-align: center;
    transform: translateX(-50%);
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: top 0.5s ease, opacity 0.5s ease;
    opacity: 0; /* Initially hidden */
}

.message-box {
    display: flex;
    align-items: center;
}

.message-text {
    margin: 0;
}


